.extreme-emphasis, .jumbotron h1 {
	font-weight: bold;
	font-size: 100px;
	text-align: center;
}
.beard-list-radio-label:first-letter {
    text-transform: capitalize;

#result {
  font-weight: bold;
  font-size: 50px;
}

#right {
  color: green;
}

#wrong {
  color: red;
}