<p>Guesses left: {{3 - vmDictator.guessCount}}</p>
<p>{{vmDictator.message}}</p>

<form name="checkUserChoice" role="form" novalidate>   
  <p>Pick the facial hair most likely to describe a warring dictator</p> 
  <ul id="gameList">
    <li ng-repeat="hairStyle in vmDictator.DictatorFactory.hairtypes">
      
        <label>
          <input type="radio" ng-value="'{{hairStyle}}'" ng-model="vmDictator.choice" name="choice" required/>
          {{hairStyle}}
        <label><br/>
      
    </li>
  </ul>
      <button type="submit" ng-click="vmDictator.checkUserChoice(vmDictator.choice)">Submit</button>
</form>